*{
margin:0;
padding:0;
}
body{
margin:0;
padding:0;
}

.a-none{
text-decoration:none;
}
.a-left{
align-items:left;
}
.a-center{
align-items:center;
}
.a-right{
align-items:right;
}
.bg-white{
background-color:white;
}
.bg-white1{
background-color:#e3ecf6;
}
.bg-blue{
background-color:#00294F;
}
.bg-blue1{
background-color:#0e5b57;
}
.bg-yellow{
background-color:#f7b616;
}
.button{
padding:5px 15px;
}
.button1{
padding:8px 25px;
}
.button2{
padding:10px 35px;
}
.c-black{
color:black;
}
.c-black1{
color:#3F1A2B;
}
.c-white{
color:#ffffff;
}
.c-yellow{
color:#f7b616;
}
.c-gwhite{
color:#ece3e3
}
.c-gray{
color:gray;
}
.c-green{
color:green;
}
.c-red{
color:red;
}
.c-red1{
color:#B2183A;
}
.c-red2{
color:#ED4A69;
}
.c-pink{
color:#FF6E97;
}
.c-pink1{
color:#DD3163;
}
.c-pink2{
color:#FE546F;
}
.c-pink3{
color:#FFA2BF;
}
.c-purple1{
color:#391B49;
}
.c-purple2{
color:#795690;
}
.c-purple3{
color:#9670C7;
}
.c-purple4{
color:#C29CE5;
}
.c-purple5{
color:#CE9BCE;
}
.c-purple6{
color:#E0AFFE;
}
.c-gold{
color:#fda68a;
}
.c-blue{
color:#00294F;
}
.c-blue1{
color:#223558;
}
.c-blue2{
color:#2C4993;
}
.c-blue3{
color:#0C6478;
}
.c-blue4{
color:#15919B;
}
.c-blue5{
color:#09D1C7;
}
.c-violet{
color:#6C5CA8;
}
.c-wheat{
color:#E7CEA1;
}
.d-flex{
display:flex;
}
.d-block{
display:block;
}
.d-grid{
display:grid;
}
.d-none{
display:none;
}
.flex-wrap{
flex-wrap:wrap;
}
.f-10{
font-size:10px;
}
.f-12{
font-size:12px;
}
.f-15{
font-size:15px;
}
.f-20{
font-size:20px;
}
.f-25{
font-size:25px;
}
.f-30{
font-size:30px;
}
.f-35{
font-size:35px;
}
.f-40{
font-size:40px;
}
.f-45{
font-size:45px;
}
.f-50{
font-size:50px;
}
.f-55{
font-size:55px;
}
.f-60{
font-size:60px;
}
.f-70{
font-size:70px;
}
.f-80{
font-size:80px;
}
.f-90{
font-size:90px;
}
.f-100{
font-size:100px;
}
.fw-600{
font-weight:600;
}
.fw-700{
font-weight:700;
}
.fw-800{
font-weight:800;
}
.fw-900{
font-weight:900;
}
.f-sans-serif{
font-family:sans-serif;
}
.f-left{
float:left;
}
.f-right{
float:right;
}
.f-none{
float:none;
}
.h-50{
height:50%;
}
.h-100{
height:100%;
}
.img-10{
width:10px;
height:10px;
}
.img-15{
width:15px;
height:15px;
}
.img-20{
width:20px;
height:20px;
}
.img-25{
width:25px;
height:25px;
}
.img-30{
width:30px;
height:30px;
}
.img-40{
width:40px;
height:40px;
}
.img-50{
width:50px;
height:50px;
}
.img-60{
width:60px;
height:60px;
}
.img-70{
width:70px;
height:70px;
}
.img-80{
width:80px;
height:80px;
}
.img-90{
width:90px;
height:90px;
}
.img-100{
width:100px;
height:100px;
}
.img-120{
width:120px;
}
.img-150{
width:150px;
}
.jc-s-around{
justify-content:space-around;
}
.jc-s-between{
justify-content:space-between;
}
.jc-center{
justify-content:center;
}
.li-none{
list-style-type:none;
}
.line{
text-decoration:line-through;
}
.m-auto{
margin:auto;
}
.m-0{
margin:0;
}
.m-5{
margin:5px;
}
.m-10{
margin:10px;
}
.m-15{
margin:15px;
}
.m-20{
margin:20px;
}
.m-30{
margin:30px;
}
.m-40{
margin:40px;
}
.m-50{
margin:50px;
}
.m-10-auto{
margin:10px auto;
}
.m-20-auto{
margin:20px auto;
}
.m-30-auto{
margin:30px auto;
}
.m-40-auto{
margin:40px auto;
}
.m-50-auto{
margin:50px auto;
}
.m-100-auto{
margin:100px auto;
}
.max-1000{
max-width:1000px;
}
.max-900{
max-width:900px;
}
.max-800{
max-width:800px;
}
.max-700{
max-width:700px;
}
.max-600{
max-width:600px;
}
.max-500{
max-width:500px;
}
.max-400{
max-width:400px;
}
.max-300{
max-width:300px;
}
.max-200{
max-width:200px;
}
.max-100{
max-width:100px;
}
.min-300{
min-width:300px;
}
.min-200{
min-width:200px;
}
.min-100{
min-width:100px;
}
.min-50{
min-width:50px;
}
.min-10{
min-width:10px;
}
.o-hidden{
overflow:hidden;
}
.o-auto{
overflow:auto;
}
.o-scroll{
overflow:scroll;
}
.p-0{
padding:0;
}
.p-5{
padding:5px;
}
.p-10{
padding:10px;
}
.p-15{
padding:15px;
}
.p-20{
padding:20px;
}
.p-25{
padding:25px;
}
.p-30{
padding:30px;
}
.p-35{
padding:35px;
}
.p-40{
padding:40px;
}
.p-45{
padding:45px;
}
.p-50{
padding:50px;
}
.p-55{
padding:55px;
}
.p-60{
padding:60px;
}
.p-65{
padding:65px;
}
.p-70{
padding:70px;
}
.p-75{
padding:75px;
}
.p-80{
padding:80px;
}
.p-85{
padding:85px;
}
.p-90{
padding:90px;
}
.p-95{
padding:95px;
}
.p-100{
padding:100px;
}
.p-10-0{
padding:10px 0;
}
.p-20-0{
padding:20px 0;
}
.p-30-0{
padding:30px 0;
}
.p-40-0{
padding:40px 0;
}
.p-50-0{
padding:50px 0;
}
.p-60-0{
padding:60px 0;
}
.p-70-0{
padding:70px 0;
}
.p-80-0{
padding:80px 0;
}
.p-90-0{
padding:90px 0;
}
.p-100-0{
padding:100px 0;
}
.p-0-5{
padding:0 5px;
}
.p-0-10{
padding:0 10px;
}
.p-0-15{
padding:0 15px;
}
.p-0-20{
padding:0 20px;
}
.p-0-25{
padding:0 25px;
}
.p-0-30{
padding:0 30px;
}
.p-0-40{
padding:0 40px;
}
.p-0-50{
padding:0 50px;
}
.p-relative{
position:relative;
}
.p-absolute{
position:absolute;
}
.p-fixed{
position:fixed;
}
.p-static{
position:static;
}
.r-5{
border-radius:5px;
}
.r-10{
border-radius:10px;
}
.r-15{
border-radius:15px;
}
.r-20{
border-radius:20px;
}
.r-25{
border-radius:25px;
}
.r-30{
border-radius:30px;
}
.r-35{
border-radius:35px;
}
.r-40{
border-radius:40px;
}
.r-45{
border-radius:45px;
}
.r-50{
border-radius:50px;
}
.radius-50{
border-radius:50%;
}
.rotate-360{
transition:1s ease;
}
.rotate-360:hover{
transform:rotate(360deg);
}
.section{
max-width:1600px !important;
margin:auto;
}
.scale{
transition:1s;
}
.scale:hover{
transform:scale(1.2);
}
.t-start{
text-align:start;
}
.t-center{
text-align:center;
}
.t-end{
text-align:end;
}
.w-10{
width:10%;
}
.w-20{
width:20%;
}
.w-25{
width:25%;
}
.w-30{
width:30%;
}
.w-40{
width:40%;
}
.w-48{
width:48%;
}
.w-50{
width:50%;
}
.w-60{
width:60%;
}
.w-70{
width:70%;
}
.w-80{
width:80%;
}
.w-90{
width:90%;
}
.w-95{
width:95%;
}
.w-100{
width:100%;
}
.z-1{
z-index:1;
}
.z-2{
z-index:2;
}
.z-3{
z-index:3;
}
.z-100{
z-index:100;
}